{% extends 'base.html' %} {% block content %}
<div class="col-md-8 col-md-offset-2 game_over_content">
    <div class"game_over_msg_container col-xs-12">  
        <h1>You Scored {{ score_str }}/100</h1>
        <p> {{ result_msg }} </p>
    </div>
    <div class"leader_board_1 col-xs-12">
        <h2>Leader Board</h2>
        <table class="table leaderboard-table">
        <tbody>
            <tr>
                <th class="table_row">Rank</th>
                <th class="table_row">Username</th>
                <th class="table_row">High Score</th>
                <th class="table_row">Game No.</th>
            </tr>
            
            <tr>
                <td class="table_row">1</td>
                <td class="table_row">{{ leader[0] }}</td>
                <td class="table_row">{{ leader[1] }}</td>
                <td class="table_row">{{ leader[2] }}</td>
            </tr>
            <tr>
                <td class="table_row">2</td>
                <td class="table_row">{{ leader[3] }}</td>
                <td class="table_row">{{ leader[4] }}</td>
                <td class="table_row">{{ leader[5] }}</td>
            </tr>
            <tr>
                <td class="table_row">3</td>
                <td class="table_row">{{ leader[6] }}</td>
                <td class="table_row">{{ leader[7] }}</td>
                <td class="table_row">{{ leader[8] }}</td>
            </tr>
            <tr>
                <td class="table_row">4</td>
                <td class="table_row">{{ leader[9] }}</td>
                <td class="table_row">{{ leader[10] }}</td>
                <td class="table_row">{{ leader[11] }}</td>
            </tr>
            <tr>
                <td class="table_row">5</td>
                <td class="table_row">{{ leader[12] }}</td>
                <td class="table_row">{{ leader[13] }}</td>
                <td class="table_row">{{ leader[14] }}</td>
            </tr>
            
        </tbody>
            </table>
    </div>
</div>   
{% endblock %}