{% extends 'base.html' %} {% block content %}

    <p>{{ end_message }}</p>
    
        <table class="table leaderboard-table">
        <tbody>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>High Score</th>
                <th>Game No.</th>
            </tr>
            
            <tr>
                <td>1</td>
                <td>{{ leader[0] }}</td>
                <td>{{ leader[1] }}</td>
                <td>{{ leader[2] }}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>{{ leader[3] }}</td>
                <td>{{ leader[4] }}</td>
                <td>{{ leader[5] }}</td>
            </tr>
            <tr>
                <td>3</td>
                <td>{{ leader[6] }}</td>
                <td>{{ leader[7] }}</td>
                <td>{{ leader[8] }}</td>
            </tr>
            <tr>
                <td>4</td>
                <td>{{ leader[9] }}</td>
                <td>{{ leader[10] }}</td>
                <td>{{ leader[11] }}</td>
            </tr>
            <tr>
                <td>5</td>
                <td>{{ leader[12] }}</td>
                <td>{{ leader[13] }}</td>
                <td>{{ leader[14] }}</td>
            </tr>
            
        </tbody>
    </table>
    
{% endblock %}