{% extends 'base.html' %} 
{% block content %}
<div class="col-md-8 col-md-offset-2 index_content">
    <div class="pre-info">
        <h2>Tree Quiz</h2>
        <h3>Do you know your Irish tree's? <br> Sign in and take the quiz!</h3>
        <p>If you have already played, just enter the same username to continue where you left off</p>
    </div>
    <div class="sign-in">
        <form method="POST" action="/check_name/">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <button class="btn">Sign in</button>
        </form>
    </div>
    <div class="wel_msg">
        <p>{{ welcome_msg }}</p>
    </div>
    <div class="start-btn">
        {% if hide_start_btn == False %}
        <form method="POST" action="/next_q/">
            <button class="btn">Start the Game!</button>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}