<html>

<head>
    <title>Quiz</title>
</head>

<body>
    <p>Question: {{ cur_question }}/10</p>
    <p>Attempt: {{ attempt }}</p>
    <p>Score: {{ cur_score }}/{{ max_score }}</p>
    <p>{{ message }}</p>
    <p></p>
    <img class="" src="{{ tree_image }}" alt="Picture of tree">
    <p></p>
    <form method="POST" action="/submit_answer/">
        <label for="answer">Answer:</label>
        <input type="text" id="answer" name="answer">
        <button>Submit Answer!</button>
    </form>
    
</body>

</html>